body {
  background-color: #f5f5f5;
}

#body {
  margin: 2em;
}

svg {
  width: 100%;
}

.top-bar .warning {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 1em;
}

.legend-label {
  font-size: 0.6em;
}

.d3-tip table {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.d3-tip .header {
  color: snow;
  margin: 0;
}

.d3-tip table th {
  text-align: left;
}

.d3-tip table td:nth-child(n+1) {
  text-align: right;
}

table td:nth-child(n+2) {
  text-align: right
}

.population-table th {
  border-bottom: 1px solid black;
}

.population-table td, .population-table th {
  padding: 0.25em 0em;
  font-size: .9em;
}

th:empty {
  border: none;
}

.population-table td:nth-child(n+2) {
  opacity: 0.3;
}

.population-table td:nth-child(2), 
.population-table td:nth-child(7),
.population-table td:nth-child(8),
.population-table td:nth-child(13),
.population-table td:nth-child(14),
.population-table td:nth-child(19),
.population-table td:nth-child(20),
.population-table-header th:nth-child(2), 
.population-table-header th:nth-child(5),
.population-table-header th:nth-child(8)
{
  opacity: 1;
  font-weight: bold;
}

.population-table,
.population-table thead,
.population-table tbody {
  border: none;
  background: transparent !important;
}

.pct {
  color: steelblue;
}

.loss-calves {
  stroke: black;
  stroke-dasharray: 2;
  fill: none;
}
.loss-cattle {
  stroke: black;
  fill: none;
}

.predator-loss-label,
.predator-loss-slice {
  fill: darkred;
  color: darkred;
}

.non-predator-loss-slice {
  fill: steelblue;
  fill-opacity: 0.3;
}
.non-predator-loss-label {
  color: rgba(70, 130, 180, 0.75);
}

.pie-loss {
  opacity: 1;
  font-size: 0.7em;
}

.line-graph-state-label {
  font-size: 0.5em;
}

.pie-line,
.axis text, .axis path, .axis line {
  opacity: 0.3;
}

.pie-line {
  stroke: black;
}

.wolf-reintro-annotation line {
  stroke: firebrick;
  stroke-width: 1px;
  stroke-dasharray: 3;
}

.wolf-reintro-annotation text {
  fill: firebrick;
  font-size: 0.75em;
}

.wolf-reintro-tick text,
.wolf-reintro-tick line {
  opacity: 0.5;
  stroke-dasharray: 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line line {
  opacity: 0.3;
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 2 2;
}

.line-tooltip {
  position: absolute;
  background: #ddd;
  pointer-events: none;
  opacity: 0.95;
  font-size: 0.75em;
  padding: 0.5em;
}

.line-tooltip-table {
  margin: 0;
}

.line-tooltip-table th,
.line-tooltip-table td {
  padding: 0.25em 0.5em;
}

.line-tooltip-table th {
  text-align: left;
}

.logo {
  height: 1.25em;
  position: relative;
  top: -0.1em;
}

.extent-rect {
  fill: black;
  fill-opacity: 0.1;
}

.section-header {
  font-weight: bold;
}

.page-section {
  margin-top: 2em;
}

.sources {
  opacity: 0.5;
  margin-top: 1em;
  font-size: 0.75em;
}

.sources p {
  margin-bottom: 0;
}

.loss-legend {
  margin-top: 0.5em;
  margin-bottom: 4em;
}

.loss-figure {
  color: firebrick;
}

.loss-year {
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 0;
}

.loss-source {
  font-size: 0.75em;
  opacity: 0.5;
}

.loss-glance-bar {
  fill: firebrick;
}

.loss-glance-label-wolves {
  font-weight: bold;
}

.section-subheader {
  font-size: 1.25em;
  position: relative;
  top: -0.5em;
}

.loss-type-header {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.legend-svg {
  width: 1em;
  display: inline-block;
}

#footer {
  margin-top: 1em;
  background: #ddd;
  padding: 2em;
}